version: '3.8'
services:
  rss-to-signal-bridge:
    build: .
    restart: unless-stopped
    volumes:
      - "./data:/data"
    environment:
      - SIGNAL_API_URL=http://127.0.0.1:8080/v2/send
      - SIGNAL_SENDER_NUMBER=+49xxxxxxxxxx
      - SIGNAL_DESTINATIONS=group.xxxxxxxxxxxxx==,group.yyyyyyyyyyyyyy==
#     - SIGNAL_DESTINATIONS=+49123456789
#     - SIGNAL_DESTINATIONS=+49123456789,+491011121314
      - SIGNAL_FAKE_SEND=False
      - RSS_FEED_URL=https://peertube.instance/feeds/videos.xml?videoChannelId=ID
      - MESSAGE_TEMPLATE=Check out my new video:\n\n**{title}**\n\n{link}
      - RSS_POLL_INTERVAL=500
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "10"
